@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffb744 url(/images/bg-body.jpg) repeat left bottom;
}

.background {
  background: url(/images/bg-pattern.jpg) repeat-x center top;
  min-height: 1318px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
